{{ if .Site.Data.about.enable}}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
    <div class="container">
		
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.about.heading}} <span class="color">{{ .Site.Data.about.headingSpan}}</span> </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
			
            
        </div>
        <div id="about-img" class="col-lg-10 padding-0 ">
                <img  class="img-fluid" src="{{ .Site.Data.about.image | absURL}}" alt="image">
         </div>
    </div>
    <div id="about-description">
    {{with .Site.Data.about.description}} <p>{{ . }}</p> {{ end }}
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}

